@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
/****************************** Main ******************************/
main{
    background: blue;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
/*********************** div__container ***************************/
.div__container{
    background: red;
    width: 250px;
    height: 157px;
    display: flex;
    border-radius: 8px;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.div__container div{
    background: orange;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/**************************** Imagenes ***************************/
#graduate{
    width: 48px;
    height: 28px;
}
#bookmark{
    width: 28px;
    height: 35px;
}
#usd-square{
    width: 35px;
    height: 40px;
}
#user{
    width: 34px;
    height: 34px;
}
/**************************** Textos ***************************/
.div__container div span{
    font-family: "Montserrat-Medium";
    font-size: 14px;
    color: var(--color-1);
}
.div__container div strong{
    font-family: "Montserrat-Bold";
    font-size: 30px;
    color: var(--color-3);
}
/************************** Cambio de Moneda ********************/
#payment > strong{
    position: relative;
}
#payment > strong::before{
    content: attr(data-format);
}
