<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-dashboard.css">
    <script src="../js/dashboard.js" defer type="module"></script>
    <title>Dashboard</title>
</head>
<body>
    <header class="Section__header">
        <img id="img__back" src="../storage/img/back.svg">
        <div class="div__rightArea">
            <div class="div__search">
                <input type="text" placeholder="search...">
                <img id="img__search" src="../storage/img/search.png">
            </div>
            <img id="img__Vector" src="../storage/img/Vector.svg">
        </div>
    </header>
    <nav class="left__nav">
        <div class="div__title">
            <h1><img src="/storage/img/Line.png" alt=""> CRUD OPERATIONS</h1>
        </div>

        <div class="div__UserInfo">
            <img src="/storage/img/photo.png">
            <h2>Karthi Madesh</h2>
            <p>Admin</p>
        </div>
        <div class="div__buttoms">
            <a href="#"><img src="/storage/img/home.svg" alt=""> Home</a>
            <a href="#"><img src="/storage/img/bookmark1.svg" alt=""> Course</a>
            <a href="#"><img src="/storage/img/graduation-cap.svg" alt=""> Students</a>
            <a href="#"><img src="/storage/img/usd-square1.svg" alt=""> Payment</a>
            <a href="#"><img src="/storage/img/file-chart-line.svg" alt=""> Report</a>
            <a href="#"><img src="/storage/img/sliders.svg" alt=""> Settings</a> 
        </div>
        <div class="div__logout">
            <a href="#">Logout <img src="/storage/img/log-out.svg" alt=""></a>
        </div>
    </nav>
    <main>
        <div id="students" class="div__container">
            <div>
                <img id="graduate" src="/storage/img/graduate.svg">
                <span>Students</span>
            </div>
            <strong>243</strong>
        </div>
        <div id="course" class="div__container">
            <div>
                <img id="bookmark" src="/storage/img/bookmark2.svg">
                <span>Course</span>
            </div>
            <strong>13</strong>
        </div>
        <div id="payments" class="div__container">
            <div>
                <img id="usd-square" src="/storage/img/usd-square2.svg">
                <span>Payments</span>
            </div>
            <strong data-format="$">556,000</strong>
        </div>
        <div id="users" class="div__container">
            <div>
                <img id="user"src="/storage/img/user.svg">
                <span>Users</span>
            </div>
            <strong>3</strong>
        </div>
    </main>
</body>
</html>