<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="../css/style-student.css">
    <script src="../js/student.js" defer type="module"></script>
</head>
<body>
    <header class="Section__header">
        <img id="img__back" src="../storage/img/back.svg">
        <div class="div__rightArea">
            <div class="div__search">
                <input type="text" placeholder="search...">
                <img id="img__search" src="../storage/img/search.png">
            </div>
            <img id="img__Vector" src="../storage/img/Vector.svg">
        </div>
    </header>
    <nav class="left__nav">
        <div class="div__title">
            <h1><img src="/storage/img/Line.png" alt=""> CRUD OPERATIONS</h1>
        </div>
        <div class="div__UserInfo">
            <img src="/storage/img/photo.png">
            <h2>Karthi Madesh</h2>
            <p>Admin</p>
        </div>
        <div class="div__buttoms">
            <a href="#"><img src="/storage/img/home.svg" alt=""> Home</a>
            <a href="#"><img src="/storage/img/bookmark1.svg" alt=""> Course</a>
            <a href="#"><img src="/storage/img/graduation-cap.svg" alt=""> Students</a>
            <a href="#"><img src="/storage/img/usd-square1.svg" alt=""> Payment</a>
            <a href="#"><img src="/storage/img/file-chart-line.svg" alt=""> Report</a>
            <a href="#"><img src="/storage/img/sliders.svg" alt=""> Settings</a>
        </div>
        <div class="div__logout">
            <a href="#">Logout <img src="/storage/img/log-out.svg" alt=""></a>
        </div>
    </nav>
    <main>
        <div class="div__container">
            <div class="div__header">
                <h2>Students List</h2>
                <div>
                    <button class="sort__button"><img src="../storage/img/sort.png" alt=""></button>
                    <button id="add__student" class="button__add">ADD NEW STUDENT</button>
                </div>
                
            </div>
            <dialog id="dialog__add_student">
                <div class="dialog__header">
                    <span id="dialog__close">X</span>
                </div>
                <h2>Add new student</h2><br>
                <div class="dialog__main">
                    <form id="form__student" action="?" method="post">
                        <div>
                            <label>Name</label>
                            <input type="text"  pattern="[A-Za-zÑñÁáÉéÍíÓóÚúÜü ]+" name="name">
                        </div>
                        <div>
                            <label>Email</label>
                            <input type="email"  name="email">
                        </div>
                        <div>
                            <label>Phone</label>
                            <input type="text" pattern="[0-9]+" max="10" name="phone">
                        </div>
                        <div>
                            <label>Enroll Number</label>
                            <input type="number"  name="enroll_number" > 
                        </div>
                    </form>
                </div>
                <div class="dialog__footer">
                    <input type="submit" form="form__student" value="Guardar">
                </div>
            </dialog>
            <dialog id="dialog__student_edit">
                <div class="dialog__header">
                    <span id="dialog__close_edit">x</span>
                </div>
                <div class="dialog__main">
                    <form id="form__student_edit" action="?" method="post">
                        <div hidden>
                            <label>Id</label>
                            <input type="number" pattern="[0-9]+" name="id" >
                        </div>
                        <div>
                            <label>Name</label>
                            <input type="text" pattern="[A-Za-zÑñÁáÉéÍíÓóÚúÜü ]+" name="name">
                        </div>
                        <div>
                            <label>Email</label>
                            <input type="email" name="email">
                        </div>
                        <div>
                            <label>Phone</label>
                            <input type="text" pattern="[0-9]+" max="10" name="phone">
                        </div>
                        <div>
                            <label>Enroll Number</label>
                            <input type="number" name="enroll_number">
                        </div>
                        <!-- <div>
                            <label>Date of Admission</label>
                            <input type="date" name="date_of_admission">
                        </div> -->
                    </form>
                </div>
                <div class="dialog__footer">
                    <input type="submit" form="form__student_edit" value="Actualizar">
                </div>
            </dialog>
            <dialog id="dialog__student_delete">
                <div class="dialog__header">
                    
                </div>
                <div class="dialog__main">
                    <form id="form__student_delete" action="?" method="post">
                        <h2>Do you want to delete student information?</h2> 
                        <input type="text" pattern="[0-9]+" name="id" hidden> <br>
                        <strong>xxxxxxx</strong>
                    </form>
                </div>
                <div class="dialog__footer">
                    <input type="submit" data-action="delete" form="form__student_delete" value="yes">
                    <input type="submit" data-action="close" form="form__student_delete" value="no">
                </div>
            </dialog>
            <table>
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Enroll Number</th>
                        <th>Date of Admission</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="table__student">
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>